@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --head-1 : 1.5rem;
  --head-2 : 1.125rem;
  --head-3 : 0.875rem;
  --body   : 0.75rem;
  --caption: 0.688rem;
}

@layer base {

  h1,
  h2,
  h3 {
    font-weight: 700;
  }

  h1 {
    font-size: var(--head-1);
  }

  h2 {
    font-size: var(--head-2);
  }

  h3,
  p,
  button {
    font-size: var(--head-3);
  }

  a,
  ul,
  ol,
  li {
    font-size  : var(--body);
    font-weight: 500;
  }

  span {
    font-size  : var(--caption);
    font-weight: 400;
  }

  button {
    cursor: pointer;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin            : 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}


.input-error {
  border: 1px solid #ff0000 !important;
}